<div class="formDangSanPham m-auto" style="text-align: center;">
    <p><b style="font-size: 24px">Đăng sản phẩm</b></p>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Tên sản phẩm</span>
            </label>
        </span>
    </div>
    <div>
        <img src="../assets//items//0171ccc9b5276d1bca263d3d5af25cd0.jpg_200x200q80.jpg">
        <img src="../assets//items//1e8e9168ef4934b21729fdbed416c920.jpg_200x200q80.jpg">
        <img src="../assets//items//23ee8f830e0ea3d67a99a4befb60541e.jpg_200x200q80.jpg">
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Giá khởi điểm</span>
            </label>
        </span>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Bước giá</span>
            </label>
        </span>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Giá mua ngay(nếu có)</span>
            </label>
        </span>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Mô tả sản phẩm</span>
            </label>
        </span>
    </div>
    <div class="checkBoxArgree">
        <input type="checkbox"> Có tự gia hạn hay không<br>
    </div>
    <button type="button" class="btn btn-success">Success</button>
</div>