<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./chi-component/guestscreen/Guest screen.css">
    <link rel="stylesheet" href="./binh-component/HeaderNologin/headerNoLogin.css">
    <link rel="stylesheet" href="./khang-component/item.css">
</head>

<body>
    <div class="header">
        <img class="icon" src="./binh-component/HeaderNologin/iconTrello.png">

        <h1 class="title">TRADE</h1>
        <input class="inputUserName" type="text" placeholder="username">

        </input>
        <input class="inputPass" type="text" placeholder="pass">

        </input>
        <button type="button" class="btn btn-default">Sign In</button>
        <button type="button" class="btn" style="background:#40d7f0"><a href="./sign-up.html">Sign Up</a></button>
    </div>
    {{{body}}}
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ul class="footer-menu" style="justify-content: flex-end; display: flex;">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Photos</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <span class="copyright">TRADE</span>
                </div>
                <div class="col-md-5">
                    <ul class="footer-menu" style="justify-content: flex-start; display: flex; padding-left: 0px;">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Photos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">©2010 - 2020 Privacy - Terms.</span>
                </div>
            </div>
        </div>
        </div>
    </footer>
</body>