<html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vietnam Trading</title>
    {{!-- <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>--}}
    <script src="https://kit.fontawesome.com/446c699f3f.js" crossorigin="anonymous"></script>
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../public/css/prettyPhoto.css" rel="stylesheet">
    <link href="../../public/css/price-range.css" rel="stylesheet">
    <link href="../../public/css/animate.css" rel="stylesheet">
    <link href="../../public/css/main.css" rel="stylesheet">
    <link href="../../public/css/responsive.css" rel="stylesheet">
    <link href="../../public/css/common.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../../public/assets/39e7906b-2680-467f-a4df-f11389a3fe3b_200x200.ico" />
</head>

<body>

    <header id="header">
        <!--header-->


        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="logo pull-left">
                            <a href="http://localhost:3000/"><img src="../../public/assets/logo.png" alt="" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/header-middle-->
    </header>


    <section id="form">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <!--/login form-->
                </div>

                <div class="col-sm-4">
                    <div class="signup-form">
                        <!--sign up form-->
                        <h2>New User Sign up!</h2>
                        <form method="POST">

                            <input type="text" placeholder="Name" name="name" />
                            <input type="date" id="start" name="dob">
                            <input type="text" placeholder="Address" id="start" name="addr">
                            <input type="email" placeholder="Email Address" name="email" />
                            <input type="text" placeholder="username" name="username" />
                            <input type="password" placeholder="Password" name="password" />
                            <input type="password" placeholder="Re-type Password" name="retype-password" />
                            <input type="text" placeholder="Enter Captcha" name="captcha" />
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </form>
                    </div>
                    <!--/sign up form-->
                </div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </section>
    <!--/form-->
</body>