{{!-- <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-3 ">
            <img class="">
        </div>
        <div class="col-9"></div>
    </div>
</div> --}}

<div class="container mt-5">

    <!--Start code-->
    <div class="row">
        <div class="col-12 pb-5">
            <!--SECTION START-->
            <section class="row">
                <!--Start slider news-->
                <div class="col-12 col-md-6 pb-0 pb-md-3 pt-2 pr-md-1">
                    <div id="featured" class="carousel slide carousel" data-ride="carousel">
                        <!--dots navigate-->
                        <ol class="carousel-indicators top-indicator">
                            <li data-target="#featured" data-slide-to="0" class="active"></li>
                            <li data-target="#featured" data-slide-to="1"></li>
                            <li data-target="#featured" data-slide-to="2"></li>
                            <li data-target="#featured" data-slide-to="3"></li>
                        </ol>

                        <!--carousel inner-->
                        <div class="carousel-inner" style="height: 470px;">
                            <!--Item slider-->
                            <div class="carousel-item active">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">
                                        <!--thumbnail img-->
                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="#">
                                                <img class="img-fluid w-100"
                                                    src="./assets//items//0171ccc9b5276d1bca263d3d5af25cd0.jpg_200x200q80.jpg"
                                                    alt="Bootstrap news template">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Item slider-->
                            <div class="carousel-item">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">
                                        <!--thumbnail img-->
                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="#">
                                                <img class="img-fluid w-100"
                                                    src="./assets//items//1e8e9168ef4934b21729fdbed416c920.jpg_200x200q80.jpg"
                                                    alt="Bootstrap news theme">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Item slider-->
                            <div class="carousel-item">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">
                                        <!--thumbnail img-->
                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="#">
                                                <img class="img-fluid w-100"
                                                    src="./assets//items//23ee8f830e0ea3d67a99a4befb60541e.jpg_200x200q80.jpg"
                                                    alt="Bootstrap blog template">
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!--Item slider-->
                            <div class="carousel-item">
                                <div class="card border-0 rounded-0 text-light overflow zoom">
                                    <div class="position-relative">
                                        <!--thumbnail img-->
                                        <div class="ratio_left-cover-1 image-wrapper">
                                            <a href="#">
                                                <img class="img-fluid w-100"
                                                    src="./assets//items//4ec9286440e2972ae01714d042d75610.jpg_200x200q80.jpg"
                                                    alt="Bootstrap portal template">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end item slider-->
                        </div>
                        <!--end carousel inner-->
                    </div>

                    <!--navigation-->
                    <a class="carousel-control-prev" href="#featured" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#featured" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!--End slider news-->

                <!--Start box news-->
                <div class="col-12 col-md-6 pt-2 pl-md-1 mb-3 mb-lg-4">
                    <div class="row h-100">
                        <!--news box-->
                        <div class="col-6 pb-1 pt-0 pr-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom h-100">
                                <div class="position-relative h-100">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper fill h-100">
                                        {{!-- <img class="img-fluid"
                                            src="../assets//items//4ec9286440e2972ae01714d042d75610.jpg_200x200q80.jpg"
                                            alt="simple blog template bootstrap"> --}}
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-0">
                            <div class="card border-0 rounded-0 text-white overflow zoom h-100">
                                <div class="position-relative h-100">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper fill h-100">
                                        <a href="#">
                                            {{!-- <img class="img-fluid"
                                                src="../assets//items//23ee8f830e0ea3d67a99a4befb60541e.jpg_200x200q80.jpg"
                                                alt="bootstrap templates for blog"> --}}
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pr-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom h-100">
                                <div class="position-relative h-100">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper fill h-100">
                                        <a href="#">
                                            {{!-- <img class="img-fluid"
                                                src="../assets//items//1e8e9168ef4934b21729fdbed416c920.jpg_200x200q80.jpg"
                                                alt="bootstrap blog wordpress theme"> --}}
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom h-100">
                                <div class="position-relative h-100">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper fill h-100">
                                        <a href="#">
                                            {{!-- <img class="img-fluid"
                                                src="../assets//items//0171ccc9b5276d1bca263d3d5af25cd0.jpg_200x200q80.jpg"
                                                alt="blog website templates bootstrap"> --}}
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--end news box-->
                    </div>
                </div>
                <!--End box news-->
            </section>
            <!--END SECTION-->
        </div>
    </div>
    <!--end code-->

    <h3 class="text-center">Men watch Relox</h3>
    <div class="row">
        <div class="col-9">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Bid history</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#references" role="tab" data-toggle="tab">Review</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="profile">WORKS FOR iPhone 8plus/
                    7plus/6sPlus/6Plus (5.5 Inch Screen)only.{NOT FOR iPhone 8 and 7 4.7 inch display] 0.33mm tempered
                    glass screen protector. Featuring maximum protection from scratches, scrapes and bumps.
                    Specialty: Due to the rounded design of the iPhone 8plus/ 7plus/6sPlus/6Plus, and to enhance
                    compatibility with most cases, the Tempered glass does not cover the entire screen. HD ultra-clear
                    rounded glass for iPhone 8 plus/7 plus (5.5 Inch Screen) is 99.99% touch-screen accurate.
                    99.99% High-definition clear hydrophobic and oleophobic screen coating protects against sweat and
                    oil residue from fingerprints.
                    It is 100% brand new,Precise laser cut tempered glass,no front camera cutout , exquisitely
                    polished,2.5D rounded edges.
                    Online video installation instruction: Easiest Installation - removing dust and aligning it properly
                    before actual installation,no worrying about bubbles,enjoy your screen as if it wasn't there.</div>
                <div role="tabpanel" class="tab-pane fade" id="buzz">
                    <div class="bidding-detail">
                        <table border="1" width="100%">
                            <tr align="center">
                                <th>Thời điểm</th>
                                <th>Người mua</th>
                                <th>Đánh giá</th>
                                <th>Giá</th>
                            </tr>
                            <tr align="center">
                                <td>1/11/2019 10:45</td>
                                <td>****Khoa</td>
                                <td>9/10</td>
                                <td>6,000,000</td>
                            </tr>
                            <tr align="center">
                                <td>1/11/2019 9:45</td>
                                <td>****Hoa</td>
                                <td>9/10</td>
                                <td>3,000,000</td>
                            </tr>
                            <tr align="center">
                                <td>1/11/2019 8:45</td>
                                <td>****Ka</td>
                                <td>8/10</td>
                                <td>2,000,000</td>
                            </tr>
                            <tr align="center">
                                <td>1/11/2019 8:45</td>
                                <td>****Kaa</td>
                                <td>9/10</td>
                                <td>1,000,000</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="references">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Product Reviews
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique
                                necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.
                                Sequi
                                mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique
                                necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.
                                Sequi
                                mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore, similique
                                necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum.
                                Sequi
                                mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <a href="#" class="btn btn-success">Leave a Review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="table-container col-3">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Buy now price:</td>
                        <td><b>$156</b></td>
                    </tr>
                    <tr>
                        <td>Bidding price:</td>
                        <td><b>$120</b></td>
                    </tr>
                    <tr>
                        <td>Seller:</td>
                        <td>An Vo</td>
                    </tr>
                    <tr>
                        <td>Rating:</td>
                        <td>5/10</td>
                    </tr>
                    <tr>
                        <td>Start date:</td>
                        <td>12/12/1999</td>
                    </tr>
                    <tr>
                        <td>End date:</td>
                        <td>13/12/1999</td>
                    </tr>
                    <tr>
                        <td> <button type="button" class="btn btn-success ">Buy now</button></td>
                        <td><button type="button" class="btn btn-primary ">Bid now</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>