<div class="card" style="width: 220px;">
    <img class="card-img-top cursor-pointer" src="./assets//items//0171ccc9b5276d1bca263d3d5af25cd0.jpg_200x200q80.jpg"
        alt="Card image cap" href="./itemDetail.html" onclick="document.location='itemDetail.html';return false;">
    <div class="card-body">
        <h5 class="card-title"></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Base price: <b class="float-right">$150</b></li>
        <li class="list-group-item">Max price: <b class="float-right">$200</b></li>
        <li class="list-group-item">Bid: <b class="float-right">$168</b></li>
        <li class="list-group-item">Time remain: <b class="float-right">2 days</b></li>
    </ul>
    <div class="card-body row justify-content-between">
        <button type="button" class="btn btn-success col-6">Buy now</button>
        <button type="button" class="btn btn-primary col-6">Bid now</button>
    </div>
</div>