<div class="formDangSanPham m-auto" style="text-align: center;">
    <p><b style="font-size: 24px">Đăng sản phẩm</b></p>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Tên sản phẩm</span>
            </label>
        </span>
    </div>
    <div>
        <div class="form-inline col-md-10 col-sm-9 col-xs-12">
            <input type="file" class="file-uploader pull-left">
            <button type="submit" class="btn btn-sm btn-default-alt pull-left">Update
                Image</button>
        </div>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Giá khởi điểm</span>
            </label>
        </span>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Bước giá</span>
            </label>
        </span>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Giá mua ngay(nếu có)</span>
            </label>
        </span>
    </div>
    <div class="specialInput">
        <span class="input input--hoshi">
            <input class="input__field input__field--hoshi" type="text" id="input-4" />
            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                <span class="input__label-content input__label-content--hoshi">Mô tả sản phẩm</span>
            </label>
        </span>
    </div>
    <div class="checkBoxArgree">
        <input type="checkbox"> Có tự gia hạn hay không<br>
    </div>
    <button type="button" class="btn btn-success">Success</button>
</div>