.header {
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #D7D7D7;
}

.header>input {
    font-family: Roboto;
    font-style: normal;
    font-size: 12px;
    width: 17.5%;
    padding-left: 0.5%;
    /* identical to box height */
    color: #000000;
}

.header>.icon {
    /* image 5 */
    width: 29px;
    height: 29px;
    margin-left: 1%;
}

.header>.title {
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* identical to box height */
    text-transform: uppercase;
    color: #000000;
}

.header>.inputUserName {
    margin-left: 42%;
}

.header>.inputPass {
    margin-left: 1.5%;
}

.header>.btn.btn-default {
    margin-left: 1.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    /* identical to box height */
    text-transform: uppercase;
}

.header>.btn {
    margin-left: 1.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.form-change-email{
    width: 200px;
    display: inline-block;
}

.body{
    text-align: center;
}